body {
    margin: 0;
    padding: 0;
}


.main .card {
    height: 90%;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.155);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding-top: 5vh;
    margin-top: 5vh;
    margin-left: 2vw;
}

.main .card .heading {
    text-align: center;
    font-size: 5vh;
    color: white;
}

.main .card .menu {
    height: 25vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto 2.5vw;
}

.main .card .menu button {
    width: 15vw;
    padding: 3vh;
    border-radius: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    transition: all ease .8s;
    font-size: 2.5vh;
    text-decoration: none;
}

.main .card .menu button:hover {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}
/* 
@media screen and (min-width: 375px) and (max-width: 412px) {
    .main{
        display: none;
    }
} */